<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="info">
                    <li><span class="first-block">Full Name:</span><span class="second-block">Leonardo Christofoli Pereira</span></li>
                    <!-- <li><span class="first-block">Phone:</span><span class="second-block">+ 1235 2355 98</span></li> -->
                    <li><span class="first-block">Email:</span><span class="second-block">leo.chp@gmail.com</span></li>
                    <li><span class="first-block">Website:</span><span class="second-block">www.leochp.com</span></li>
                    <li><span class="first-block">Address:</span><span class="second-block">Campinas, SP - Brazil</span></li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>Hello There!</h2>
                <p>With experience in multinational companies and long-term projects. Developing software for security department, infrastructure and final users.</p>
                <p>In web development, worked consuming and creating Rest APIs, single page applications and systems for companies and processes automation. </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <!-- <li><a href="#"><i class="icon-twitter2"></i></a></li> -->
                        <li><a href="https://github.com/leoChristofoli"><i class="icon-github2"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                        <!-- <li><a href="#"><i class="icon-dribbble2"></i></a></li> -->
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>