{% assign skills_left = site.data.skills_bar | where:"side", "left" %}
{% assign skills_right = site.data.skills_bar | where:"side", "right" %}

<div id="fh5co-skills" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Skills</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            {% for item in site.data.skills_circle %}
                <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="chart" data-percent="{{ item.percent }}"><span><strong>{{ item.name }}</strong>{{ item.percent }}%</span></div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% for item in skills_left %}
                    <div class="progress-wrap">
                        <h3><span class="name-left">{{ item.name }}</span><span class="value-right">{{ item.percent }}%</span></h3>
                        <div class="progress">
                          <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
                          aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{ item.percent }}%">
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                {% for item in skills_right %}
                    <div class="progress-wrap">
                        <h3><span class="name-left">{{ item.name }}</span><span class="value-right">{{ item.percent }}%</span></h3>
                        <div class="progress">
                          <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
                          aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{ item.percent }}%">
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>