<div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Resume</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Work Experience</h3></div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">ServiceNow Developer</h3>
                                <span class="company">Stefanini@IBM &mdash; 2018 - Current</span>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    ServiceNow applications development using javascript.
                                    
                                        <p>&#10148 Client script and script include</p>
                                        <p>&#10148 Form automation</p>
                                        <p>&#10148 Workflows</p>
                                    
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Network Admin</h3>
                                <span class="company">Stefanini@3M &mdash; 2014 - 2018</span>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Development of applications for infosec and infrastructure team.
                                    <p> &#10148 Server administraton automation</p>
                                    <p> &#10148 Audit reports</p>
                                    <p> &#10148 Security analisys</p>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Intern</h3>
                                <span class="company">3M &mdash; 2013 - 2014</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Intern</h3>
                                <span class="company">Dell &mdash; 2012 - 2013</span>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Development of applications for infosec and infrastructure team.
                                    <p> &#10148 Server administraton automation</p>
                                    <p> &#10148 Audit reports</p>
                                    <p> &#10148 Security analisys</p>
                                </p>
                            </div>
                        </div>
                    </li>

                    <br>
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Education</h3></div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Masters Degree</h3>
                                <span class="company">University Name - 2007 - 2009</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Bachelors Degree</h3>
                                <span class="company">University Name - 2002 - 2006</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Diploma Course</h3>
                                <span class="company">College Name - 1999 - 2001</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Graduation</h3>
                                <span class="company">College Name - 1994 - 1998</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>